
/*--------------------------------------------------------------------------
| Global
---------------------------------------------------------------------------*/

body {
  overflow-x:hidden;
  background-color:#000000;
}
p {
  font-size:20px;
}
p.small {
  font-size:16px;
}
a, a:hover, a:focus, a:active, a.active {
  outline:0;
  color:#e0a98a;//#CC4444;
}
h1, h2, h3, h4, h5, h6 {
  text-transform:uppercase;
  font-family:Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:700;
}
hr.star-light {
  margin:25px auto 30px;
  padding:0;
  max-width:250px;
  border:0;
  border-top:solid 5px;
  text-align:center;
  border-color:#ffffff;
}
hr.star-primary {
  margin:25px auto 30px;
  padding:0;
  max-width:250px;
  border:0;
  border-top:solid 5px;
  text-align:center;
  border-color:#2c3e50;
}
hr.star-light:after {
  content:"\f005";
  display:inline-block;
  position:relative;
  top:-.8em;
  padding:0 .25em;
  font-family:FontAwesome;
  font-size:2em;
  color:#ffffff;
  background-color:#18bc9c;
}
hr.star-primary:after {
  content:"\f005";
  display:inline-block;
  position:relative;
  top:-.8em;
  padding:0 .25em;
  font-family:FontAwesome;
  font-size:2em;
  color:#2c3e50;
  background-color:#ffffff;
}
.img-centered {
  margin:0 auto;
}
.insert-email {
  font-weight: 200;
}

/*--------------------------------------------------------------------------
| Header
---------------------------------------------------------------------------*/

header {
  text-align:center;
  color:#ffffff;
  background:#000000;
  img {
    display:block;
    margin:0 auto;
    width:80%;
  }
}
.navbar {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  min-height: 0;
  margin-bottom: 0;
  a:focus {
    outline: 0;
  }
  .navbar-nav {
    letter-spacing: 1px;
    li a:focus {
      outline: 0;
    }
  }

  > .container-fluid .navbar-brand {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5em;
    font-weight: 100;
    letter-spacing: 5px;
    display: block;
    height: auto;
    float: none;
    margin: 0 auto;
    margin-top: 15px;
    width: 460px;
    transition: all 0.1s;

    strong {
      font-weight: 400;
    }
  }
  .navbar-header {
    float: none;
  }
  .navbar-right {
    font-weight:100;
    display:none;
    li > a {
      padding:10px 15px;
      font-size:17px;
      letter-spacing:2px;
      -webkit-transition:all .3s;
      -moz-transition:all .3s;
      transition:all .3s;
    }
  }
}

.navbar-default, .navbar-inverse {
  border:0;
  background-color:rgba(0,0,0,0);
}

.navbar-default {
  .navbar-brand:hover, .navbar-brand:focus {
    color:#e0a98a;
  }
  .navbar-nav {
    > li > a:hover, > li > a:focus, > .active > a:hover, > .active > a:focus {
      background-color:transparent;
      color:#e0a98a;
    }
    > .active > a {
      background-color:transparent;
      color:#ffffff;
    }
  }
}

.navbar-fixed-top.navbar-shrink {

  background-color:rgba(0,0,0,0.8);

  .navbar-header {
    float: left;
  }

  .navbar-brand {
    margin-left: -10px;
    margin-top: 10px;
    font-size: 20px;
    padding: 0;
    padding-left: 5px;
    transition: all 0.3s;
  }

  .navbar-right {
    display:inherit;
  }
}

#header {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;

  .container {
    background: url(/img/haydenlee-black3.png) 50% 0 no-repeat fixed;
    min-height: 100%;
    background-size: 85%;
    background-origin: content-box;
  }
}

section {
  padding: 150px 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  h2 {
    margin:0;
    font-size:3em;
  }

  &#about {
    color: #ffffff;
    background: #000;

    p {
      color: rgb(238, 238, 238);
    }
  }

  &#portfolio {
    color: #fff;
    background: #e0a98a;//#CC4444; //#A73737;
  }

  &#blog {
    color: #000;
    background: #fff;
    text-align: left;

    h2 a {
      color: #000;
    }
  }

  // &#portfolio {
  //   color:#fff;
  //   background: #2C4285;
  // }

}

.btn-outline {
  margin-top:15px;
  border:solid 2px #ffffff;
  font-size:20px;
  color:#ffffff;
  background:0 0;
  transition:all .3s ease-in-out;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  border:solid 2px #ffffff;
  color:#18bc9c;
  background:#ffffff;
}

footer {
  color:#ffffff;
  h3 {
    margin-bottom:30px;
  }
  .footer-above {
    padding-top:50px;
    background-color: #000;
  }
  .footer-col {
    margin-bottom:50px;
  }
  .footer-below {
    padding:25px 0;
    background-color: #1D1D1D;
  }
}

.btn-social {
  display:inline-block;
  width:50px;
  height:50px;
  border:2px solid #ffffff;
  border-radius:100%;
  text-align:center;
  font-size:20px;
  line-height:45px;
}
.btn:focus, .btn:active, .btn.active {
  outline:0;
}